{
	"printWidth": 160,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": false,
	"bracketSameLine": true,
	"arrowParens": "always",
	"vueIndentScriptAndStyle": true
}
