body{
	background-color:#e1e6f5;
	color:#000000;
	font:11px verdana,sans-serif;
	margin:10}
p,td{font:11px verdana,sans-serif}
a:link{color:#2e448f}
a:visited{color:#4e6ac7}
a:hover{color:#2e448f;text-decoration:none}
/* odnoœniki (lista rozwijalna) */
a.pp:link,a.pp:visited {color:#2e448f;font-weight:bold}
a.pp:hover{text-decoration:none}
/* element na liœcie */
p.el{margin-top:0;margin-bottom:0.5em}
/* logo szko³y */
.logo{text-align:center;margin-bottom:10px}
