$zsm-menu-icon: unquote('"\\e900"');
$zsm-settings-icon: unquote('"\\e901"');
$zsm-close-icon: unquote('"\\e902"');
$zsm-search-icon: unquote('"\\e903"');
$zsm-student-icon: unquote('"\\e904"');
$zsm-teacher-icon: unquote('"\\e905"');
$zsm-room-icon: unquote('"\\e906"');
$zsm-arrow-icon: unquote('"\\e907"');
$zsm-copyright-icon: unquote('"\\e908"');
$zsm-loading-icon: unquote('"\\e909"');
$zsm-empty-icon: unquote('"\\e90a"');
$zsm-not-found-icon: unquote('"\\e90b"');
$zsm-offline-icon: unquote('"\\e90c"');
$zsm-error-icon: unquote('"\\e90d"');
$zsm-system-mode-icon: unquote('"\\e90e"');
$zsm-light-mode-icon: unquote('"\\e90f"');
$zsm-dark-mode-icon: unquote('"\\e910"');
$zsm-old-mode-icon: unquote('"\\e911"');
$zsm-new-mode-icon: unquote('"\\e912"');
$zsm-forceDesktop-icon: unquote('"\\e913"');
$zsm-shortLessons-icon: unquote('"\\e914"');
$zsm-showCurrent-icon: unquote('"\\e915"');
$zsm-showBreaks-icon: unquote('"\\e916"');
$zsm-showColors-icon: unquote('"\\e917"');
$zsm-old-timetable-icon: unquote('"\\e918"');
$zsm-print-timetable-icon: unquote('"\\e919"');
$zsm-download-app-icon: unquote('"\\e91a"');

@font-face {
  font-family: "ZSM-TimeTable";
  src:
    url("@/assets/fonts/ZSM-TimeTable.woff2") format("woff2"),
    url("@/assets/fonts/ZSM-TimeTable.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ZSM-TimeTable" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zsm-menu-icon {
  &:before {
    content: $zsm-menu-icon;
  }
}
.zsm-settings-icon {
  &:before {
    content: $zsm-settings-icon;
  }
}
.zsm-close-icon {
  &:before {
    content: $zsm-close-icon;
  }
}
.zsm-search-icon {
  &:before {
    content: $zsm-search-icon;
  }
}
.zsm-student-icon {
  &:before {
    content: $zsm-student-icon;
  }
}
.zsm-teacher-icon {
  &:before {
    content: $zsm-teacher-icon;
  }
}
.zsm-room-icon {
  &:before {
    content: $zsm-room-icon;
  }
}
.zsm-arrow-icon {
  &:before {
    content: $zsm-arrow-icon;
  }
}
.zsm-copyright-icon {
  &:before {
    content: $zsm-copyright-icon;
  }
}
.zsm-loading-icon {
  &:before {
    content: $zsm-loading-icon;
  }
}
.zsm-empty-icon {
  &:before {
    content: $zsm-empty-icon;
  }
}
.zsm-not-found-icon {
  &:before {
    content: $zsm-not-found-icon;
  }
}
.zsm-offline-icon {
  &:before {
    content: $zsm-offline-icon;
  }
}
.zsm-error-icon {
  &:before {
    content: $zsm-error-icon;
  }
}
.zsm-system-mode-icon {
  &:before {
    content: $zsm-system-mode-icon;
  }
}
.zsm-light-mode-icon {
  &:before {
    content: $zsm-light-mode-icon;
  }
}
.zsm-dark-mode-icon {
  &:before {
    content: $zsm-dark-mode-icon;
  }
}
.zsm-old-mode-icon {
  &:before {
    content: $zsm-old-mode-icon;
  }
}
.zsm-new-mode-icon {
  &:before {
    content: $zsm-new-mode-icon;
  }
}
.zsm-forceDesktop-icon {
  &:before {
    content: $zsm-forceDesktop-icon;
  }
}
.zsm-shortLessons-icon {
  &:before {
    content: $zsm-shortLessons-icon;
  }
}
.zsm-showCurrent-icon {
  &:before {
    content: $zsm-showCurrent-icon;
  }
}
.zsm-showBreaks-icon {
  &:before {
    content: $zsm-showBreaks-icon;
  }
}
.zsm-showColors-icon {
  &:before {
    content: $zsm-showColors-icon;
  }
}
.zsm-old-timetable-icon {
  &:before {
    content: $zsm-old-timetable-icon;
  }
}
.zsm-print-timetable-icon {
  &:before {
    content: $zsm-print-timetable-icon;
  }
}
.zsm-download-app-icon {
  &:before {
    content: $zsm-download-app-icon;
  }
}
