@import 'variables';

@font-face {
	font-family: '#{$icomoon-font-family}';
	src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2') format('woff2'), url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff') format('woff'),
		url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

i {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: '#{$icomoon-font-family}' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.zsm-menu-icon {
  &:before {
    content: $zsm-menu-icon; 
  }
}
.zsm-close-icon {
  &:before {
    content: $zsm-close-icon; 
  }
}
.zsm-chevron-icon {
  &:before {
    content: $zsm-chevron-icon; 
  }
}
.zsm-student-icon {
  &:before {
    content: $zsm-student-icon; 
  }
}
.zsm-teacher-icon {
  &:before {
    content: $zsm-teacher-icon; 
  }
}
.zsm-room-icon {
  &:before {
    content: $zsm-room-icon; 
  }
}
.zsm-print-icon {
  &:before {
    content: $zsm-print-icon; 
  }
}
.zsm-clock-icon {
  &:before {
    content: $zsm-clock-icon; 
  }
}
.zsm-copyright-icon {
  &:before {
    content: $zsm-copyright-icon; 
  }
}
