$icomoon-font-family: 'ZSM-TimeTable' !default;
$icomoon-font-path: '/assets/fonts' !default;

$zsm-menu-icon: '\e900';
$zsm-close-icon: '\e901';
$zsm-download-icon: '\e902';
$zsm-chevron-icon: '\e903';
$zsm-student-icon: '\e904';
$zsm-teacher-icon: '\e905';
$zsm-room-icon: '\e906';
$zsm-print-icon: '\e907';
$zsm-clock-icon: '\e908';
$zsm-copyright-icon: '\e909';
$zsm-empty-icon: '\e90a';
