$icomoon-font-family: 'ZSM-TimeTable' !default;
$icomoon-font-path: '/src/assets/ZSM-TimeTable/fonts' !default;

$zsm-chevron-down-icon: '\e900';
$zsm-user-graduate-icon: '\e901';
$zsm-chalkboard-user-icon: '\e902';
$zsm-door-closed-icon: '\e903';
$zsm-print-icon: '\e906';
$zsm-clock-icon: '\e904';
$zsm-copyright-icon: '\e905';
